.list_item {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-bottom: 12px;
}

.item_elem {
    margin-left: 15px;
}

.delete_btn {
    transition: 200ms linear;
    padding: 3px 10px;
    background-color: rgb(134, 129, 129);
    color: #000;
    text-transform: uppercase;
    border-radius: 15px;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.delete_btn :hover {
    border: 2px solid blue;
    -webkit-box-shadow: 4px 5px 38px 5px rgba(56, 59, 62, 0.29);
    -moz-box-shadow: 4px 5px 38px 5px rgba(56, 59, 62, 0.29);
    box-shadow: 4px 5px 38px 5px rgba(56, 59, 62, 0.29);
}