.loginPage {
    width: 100vw;
    margin: 0 auto;
}

.formLogin {
    width: 450px;
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnText {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}