.title {
    padding-left: 8px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapperProfile {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.btnText {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}